Source: zerovm-cli
Maintainer: Lars Butler (larsbutler) <lars.butler@gmail.com>
Section: otherosfs
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3), python-setuptools
Standards-Version: 3.9.3

Package: zerovm-cli
Architecture: amd64
Depends: zerovm, zpm (>= 0.2), python2.7, python (>= 2.7), python (<< 2.8)
Description: Command line tools for ZeroVM
 Installs command line tools and utilities for ZeroVM testing.
