Source: zpm
Maintainer: Lars Butler (larsbutler) <lars.butler@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: zpm
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: ZeroVM Package Manager
 Installs command line tools for creating and bundling ZeroVM applications

